@font-face {
    font-family: "BMW Helvetica 97 Black Condensed";
    src: url("https://db.onlinewebfonts.com/t/0fc6801e0b9ae282b24bc9fa57311094.eot");
    src: url("https://db.onlinewebfonts.com/t/0fc6801e0b9ae282b24bc9fa57311094.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0fc6801e0b9ae282b24bc9fa57311094.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0fc6801e0b9ae282b24bc9fa57311094.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0fc6801e0b9ae282b24bc9fa57311094.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0fc6801e0b9ae282b24bc9fa57311094.svg#BMW Helvetica 97 Black Condensed")format("svg");
}